.content-pages-show-directory #content {
  .span4 {
    width: 50%;
    display: inline-block;

    &:last-of-type {
      float: right;
    }

    li {
      margin-bottom: 0;
    }
  }

  .people-name {
    font-size: $font-large;
  }

  .page-tag {
    margin-right: 4px;
    line-height: 1.8em;
  }

  .member-info {
    color: $dark-grey;
  }

}
button.btn.btn-default.tiny-btn.region {
  margin-bottom: 4px;
  padding: 5px 10px;

}

button.btn.btn-default.tiny-btn.region.unselected {
  background-color: $grey-bg;
  color: $dark-grey;
}
