.content-pages-show-directory #content {
  .span4 {
    width: 50%;
    display: inline-block;

    &:last-of-type {
      float: right;
    }

    li {
      margin-bottom: 0;
    }
  }

  .people-name {
    font-size: $font-large;
  }

  .page-tag {
    margin-right: 4px;
    line-height: 1.8em;
  }

  .member-info {
    color: $dark-grey;
  }

  .people-list.media {
    -webkit-animation: show 0.3s ease-in-out; /* Safari 4.0 - 8.0 */
    animation: show 0.3s ease-in-out;
  }

  .hide {
  	-webkit-animation: hide 0.3s ease-in-out;
      animation: hide 0.3s ease-in-out;
  }
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes show {
       0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Standard syntax */
  @keyframes show {
     0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes hide {
   0% {
      display: block;
      opacity: 1;
    }
    1% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
      display: none;
    }
  }
  /* Standard syntax */
  @keyframes hide {
    0% {
      display: block;
      opacity: 1;
    }
    1% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
      display: none;
    }
  }
}
button.btn.btn-default.tiny-btn.region {
  margin-bottom: 4px;
  padding: 5px 10px;

}

button.btn.btn-default.tiny-btn.region.unselected {
  background-color: $grey-bg;
  color: $dark-grey;
}

.removed {
  display: none !important;
}

.job-removed {
  display: none !important;
}
