// Default is 100% width, no grid layout
// 2-column grid is added at min-width $grid-break-2-col
// 3-column grid is added at min-width $grid-break-3-col

// These are completely arbitrary numbers, change them to suit the layout you want
$grid-break-2-col: 480px;
$grid-break-3-col: 720px;

@media all and (min-width: $grid-break-2-col) {
  .people-list {
    vertical-align: top;
    display: inline-block;
    width: 47.5%;

    // !important is never good, but there's somethng in the default (NationBuilder) CSS that makes this necessary
    margin: 1% !important;
  }
}

@media all and (min-width: $grid-break-3-col) {
  .people-list {
    width: 30%;
  }
}
